$c-primario: #28d9e6;
$ff-archi: 'Architects Daughter', cursive;
$ff-bruno:'Bruno Ace', cursive;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
  }



  img {
    width: 100%;


}

 h2{
  color: $c-primario;
  font-size: 2rem;
  text-align: center;
  margin-top: 30px;
  font-family: $ff-archi;
 }
