$c-primario: #28d9e6;
$ff-archi: 'Architects Daughter', cursive;
$ff-bruno: 'Bruno Ace', cursive;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
}



img {
  width: 100%;


}




@mixin position-center {
  position: relative;
  text-align: center;
}


@mixin display-center {
   display: flex;
   justify-content: center;
   align-items: center;
}


@mixin flex-relative {
  display: flex;
  position: relative;
}