



.contacto h4 {
  margin-left: 20px;
  margin-top: 20px;
  color: #28d9e6;
  font-family: $ff-archi;
}

.contacto p {
  margin-left: 20px;
  margin-top: 20px;
  color: black;
  font-family: $ff-archi;
}

.mapa {
  display: flex;
  margin: 15px;
}


@media(min-width: 768px) {

  .contacto a {
    font-size: 1.8rem;
   
    margin-top: 20px;
    color: $c-primario;
    font-family: $ff-archi;
  }

  .contacto p {
    font-size: 1.6rem;

    margin-top: 20px;
    color: black;
    font-family: $ff-archi;
  }

  .mapa {
    margin: 15px;
}


}



@media(min-width: 1200px) {
 .contacto h4 {
    font-size: 1.8rem;
    margin-top: 20px;
    color: $c-primario;
    font-family: $ff-archi;
  }

  .contacto p {
    font-size: 1.6rem;
    margin-top: 20px;
    color: rgb(13, 13, 121);
    font-family: $ff-archi;
  }



  .mapa {
  
      margin: 15px;
  }

}
