.container {
    width: 100%;
    height: 100%;   
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 10% 50% 30% 10%;
    grid-template-areas:
        "header header"
        "main main"
        "aside1 aside2"
        "footer footer";

}

.header {
    background-color: $c-primario;
    grid-area: header;
  

}

.main {
    background-color: #d0f8f8;
    grid-area: main;
    padding: 20px;
}

.aside1 {
    background-color: white;
    grid-area: aside1;
    padding: 15px;
}

.aside2 {
    background-color: white;
    grid-area: aside2;

}

.footer {
    background: linear-gradient(to top, $c-primario, white, skyblue, $c-primario);
    grid-area: footer;
    margin-bottom: 0;
}


.main {
   
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
  
    & img {        
        width: 100%;
        margin-top: 20px;
            
       
    }
}

.main_container p{
position: absolute;
    margin-top: 40px;
    margin-left: 20px;
    font-family: $ff-archi;
    font-size: 0.8rem; 
    color:rgb(13, 13, 121)

}

.main_button {
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
    font-family: $ff-archi;
    color: #FFFFFF;
    font-size: 0.9rem;
    font-weight: 500;
    line-height: 22.5px;  
    padding: 5px;
    border: none;
    border-radius: 3px;
    cursor: pointer;

}

.buttonracionp {
    @extend .main_button;
    background-color: $c-primario;
margin: 5px;
    width: 90%;
    height: 40px;

    &:hover {
        transform: scale(1.1);
    }
}


.buttonraciong {
    @extend .main_button;
    background-color: $c-primario;
    margin: 5px;
    width: 90%;
    height: 40px;

    &:hover {
        transform: scale(1.1);
    }


}



.buttonantip {
    @extend .main_button;
    background-color: $c-primario;
    margin: 5px;
    width: 90%;
    height: 40px;
   

    &:hover {
        transform: scale(1.1);
    }

}


.buttonaccesorios {
    @extend .main_button;
    background-color: $c-primario;
    margin: 5px;
    width: 90%;
    height: 40px;
    margin-bottom: 20px;

    &:hover {
        transform: scale(1.1);
    }

}


/*aside mobile*/
.aside1_container img {
    position: relative;
    padding: 5px;

}

.aside1_container p {
    font-family: 'Architects Daughter', cursive;
    color: black;
    font-size: 0.8rem;
    text-align: center;
    padding: 20px;
}


.aside2_container img {
    position: relative;
    padding: 5px;
}


@media(min-width: 768px) {
    .container {
        width: 100%;
        height: 100;
        padding: 5px;
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 10% 60% 20% 10%;
        grid-template-areas:
            "header header"
            "main main"
            "aside1 aside2"
            "footer footer";

    }
  

     .main_container{
        padding: 30px;
        display:flex ;
        & p{
        position: absolute;
            margin-top: 40px;
            margin-left: 20px;
            font-family: $ff-archi;
            font-size: 1.5rem; 
            color:rgb(13, 13, 121)
        
        }

    }
    .main img {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 20px;
        margin-bottom: 20px;
        width: 100%;   

    } 
     
    .main_button {
        font-family: $ff-archi;
        color: #FFFFFF;
        font-size: 0.9rem;
        font-weight: 500;
        line-height: 22.5px;
        padding: 10px;
        border: none;
        border-radius: 3px;
         width: 30%;
        cursor: pointer;

    }

    .buttonracionp {
        @extend .main_button;
        top: 80px;
        width: 190px;
        height: 50px;

        &:hover {
            transform: scale(1.1);
        }

    }

    .buttonraciong {
        @extend .main_button;
        top: 180px;
        width: 190px;
        height: 50px;

        &:hover {
            transform: scale(1.1);
        }


    }

    .buttonantip {
        @extend .main_button;
        top: 280px;
        width: 190px;
        height: 50px;

        &:hover {
            transform: scale(1.1);
        }


    }

    .buttonaccesorios {
        @extend .main_button;
        top: 380px;
        width: 190px;
        height: 50px;

        &:hover {
            transform: scale(1.1);
        }

    }



    .aside1_container img {
        width: 40%;
        margin-left: 120px;


    }

    .aside1_container p {
        font-family: 'Architects Daughter', cursive;
        color: black;
        font-size: 1rem;
        text-align: center;
        padding: 5px;
    }


    .aside2_container img {
        width: 40%;
        margin-left: 120px;
    }



}



@media(min-width: 1200px) {
    .container {
        width: 100%;
        height: 100;
        padding: 5px;
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 10% 60% 20% 10%;
        grid-template-areas:
            "header header"
            "main main"
            "aside1 aside2"
            "footer footer";

    }
   


       
            .main img {
                width: 100%;   
                margin-top: 20px;
                margin-bottom: 20px;
            } 
             
               
            
    .buttonracionp {
        font-size: 1.5rem;
        top: 70px;
        width: 300px;
        height: 50px;
        cursor: pointer;


        &:hover {
            transform: scale(1.1);
        }

    }

    .buttonraciong {
        font-size: 1.5rem;
        top: 170px;
        width: 300px;
        height: 50px;
        cursor: pointer;

        &:hover {
            transform: scale(1.1);
        }


    }

    .buttonantip {
        font-size: 1.5rem;
        top: 270px;
        width: 300px;
        height: 50px;
        cursor: pointer;

        &:hover {
            transform: scale(1.1);
        }


    }

    .buttonaccesorios {
        font-size: 1.5rem;
        top: 370px;
        width: 300px;
        height: 50px;
        cursor: pointer;

        &:hover {
            transform: scale(1.1);
        }

    }



    .aside1_container {
        display: flex;
        width: 100%;
        height: 100%;

        & img {
            height: 80%;
            margin-left: 20px;
            left: 10px;
        }

    }

    .aside1_container p {     
        font-family: $ff-archi;
        color: rgb(13, 13, 121);
        font-size: 1.5rem;
        text-align: center;
        top: 40px;

    }


    .aside2_container {
        width: 100%;
        height: 100%;


        & img {
          height: 80%;
            margin-left: 20px;

        }
    }




}