.container {
    width: 100%;
    height: 98vh;
    padding: 5px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 10% 50% 30% 10%;
    grid-template-areas:
        "header header"
        "main main"
        "aside1 aside2"
        "footer footer";

}

.header {
    background-color: $c-primario;
    grid-area: header;

}

.main {
    background-color: #d0f8f8;
    grid-area: main;
}

.aside1 {
    background-color: white;
    grid-area: aside1;
}

.aside2 {
    background-color: white;
    grid-area: aside2;
}

.footer {
    background: linear-gradient(to top, $c-primario, white, skyblue, $c-primario);
    grid-area: footer;
    margin-bottom: 0;
}


.main_container {
    display: flex;
    position: relative;
    width: 100%;


    & img {
        position: absolute;
    
    }
}

.main_container__p {
    font-family: 'Architects Daughter', cursive;
    color:  rgb(13, 13, 121);
    position: relative;
    font-size: 0.8rem;
    left: 15px;
    top: 15px;

}

.main_button{
    font-family: $ff-archi;
    color: #FFFFFF;
    font-size: 0.8rem;
    font-weight: 500;
    line-height: 22.5px;
    text-align: center;
    padding: 10px;
    border: none;
    border-radius: 3px;
    position: absolute;
    cursor: pointer;

}

.buttonracionp {
    @extend .main_button;
    background-color: $c-primario;
    left: 15px;
    top: 320px;
    width: 170px;
    height: 40px;
    &:hover {
        transform: scale(1.1);
    }

    
}


.buttonraciong {
   @extend .main_button;
   background-color: $c-primario;
    left: 200px;
    top: 320px;
    width: 170px;
    height: 40px;
    &:hover {
        transform: scale(1.1);
    }


}



.buttonantip {
    @extend .main_button;
    background-color: $c-primario;
    left: 15px;
    top: 380px;
    width: 170px;
    height: 40px;

    &:hover {
        transform: scale(1.1);
    }

}


.buttonaccesorios {
    @extend .main_button;
    background-color: $c-primario;
    left: 200px;
    top: 380px;
    width: 170px;
    height: 40px;


    &:hover {
        transform: scale(1.1);
    }

}


/*aside mobile*/
.aside1_container img {
    position: relative;
    padding: 5px;

}

.aside1_container p {
    font-family: 'Architects Daughter', cursive;
    color: black;
    font-size: 0.8rem;
    text-align: center;
    padding: 20px;
}


.aside2_container img {
    position: relative;
    padding: 5px;
}


@media(min-width: 768px) {
    .container {
        width: 100%;
        height: 98vh;
        padding: 5px;
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 15% 50% 20% 15%;
        grid-template-areas:
            "header header"
            "main main"
            "aside1 aside2"
            "footer footer";

    }


    .main_container {
        display: flex;
        width: 100%;
        height: 100%;
    & img {
        height: 100%;
        width: 70%;

    }

    }
    .main_container__p {
        font-size: 1.6rem;
        padding: 10px;
    }


    .main_button{
        font-family: $ff-archi;
        color: #FFFFFF;
        font-size: 0.9rem;
        font-weight: 500;
        line-height: 22.5px;
        text-align: center;
        padding: 10px;
        border: none;
        border-radius: 3px;      
        left: 350px;
        position: absolute;
        cursor: pointer;
    
    }

    .buttonracionp {
     @extend .main_button;    
        top: 80px;
        width: 180px;
        height: 50px;
        &:hover {
            transform: scale(1.1);
        }

    }

    .buttonraciong {
        @extend .main_button;
         top: 180px;
         width: 180px;
         height: 50px;
        &:hover {
            transform: scale(1.1);
        }


    }

    .buttonantip {
        @extend .main_button;     
        top: 280px;
        width: 180px;
        height: 50px;

        &:hover {
            transform: scale(1.1);
        }


    }

    .buttonaccesorios {
        @extend .main_button;
        top: 380px;
        width: 180px;
        height: 50px;
        &:hover {
            transform: scale(1.1);
        }

    }



    .aside1_container img {
        width: 40%;
        margin-left: 120px;


    }

    .aside1_container p {
        font-family: 'Architects Daughter', cursive;
        color: black;
        font-size: 1rem;
        text-align: center;
        padding: 5px;
    }


    .aside2_container img {
        width: 40%;
        margin-left: 120px;
    }

 
}



@media(min-width: 1200px) {
    .container {
        width: 100%;
        height: 98vh;
        padding: 5px;
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 15% 50% 20% 15%;
        grid-template-areas:
            "header header"
            "main main"
            "aside1 aside2"
            "footer footer";

    }


   .main_container {
    display: flex;
    position: relative;
    width: 100%;


    & img {
        position: absolute;
    
    }
}


    .main_container__p {
        font-size: 2rem;
        padding: 10px;
    }



    .buttonracionp {
        font-size: 1rem;
        left: 700px;
        top: 70px;
        width: 200px;
        height: 50px;
        cursor: pointer;


        &:hover {
            transform: scale(1.1);
        }

    }

    .buttonraciong {
        font-size: 1rem;
        left: 700px;
        top: 170px;
        width: 200px;
        height: 50px;
        cursor: pointer;

        &:hover {
            transform: scale(1.1);
        }


    }

    .buttonantip {
        font-size: 1rem;
        left: 700px;
        top: 270px;
        width: 200px;
        height: 50px;
        cursor: pointer;

        &:hover {
            transform: scale(1.1);
        }


    }

    .buttonaccesorios {
        font-size: 1rem;
        left: 700px;
        top: 370px;
        width: 200px;
        height: 50px;
        cursor: pointer;

        &:hover {
            transform: scale(1.1);
        }

    }



    .aside1_container {
        display: flex;
        width: 100%;
        height: 100%;

        & img {
            height: 100%;
            margin-left: 20px;
            left: 10px;
        }

    }

    .aside1_container p {
        position: relative;
        font-family: $ff-archi;
        color: rgb(13, 13, 121);
        font-size: 1.5rem;
        text-align: center;
        top: 40px;

    }


    .aside2_container {
        width: 100%;
        height: 100%;


        & img {
            height: 100%;
            margin-left: 20px;

        }
    }


        
    
}


   