.container {
    width: 100%;
    height: 98vh;
    padding: 5px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 10% 50% 30% 10%;
    grid-template-areas: 
    "header header"
    "main main"
    "aside1 aside2"
    "footer footer";
  
  }
   
  .header {
      background-color: #28d9e6;
      grid-area: header;

  }

  .main {
      background-color: #d0f8f8;
      grid-area: main;
  }

  .aside1 {
      background-color: rgb(253, 236, 159);
      grid-area: aside1;
  }

  .aside2 {
      background-color: rgb(253, 236, 159);
      grid-area: aside2;
  }

  .footer {
      background-color: #28d9e6;
      grid-area: footer;
      margin-bottom: 0;
  }


  .main_container {
    position: relative;
    width: 100%;
}

.main_container__p {
    font-family: 'Architects Daughter', cursive;
    color: rgb(252, 251, 251);
    position: relative;
    font-size: 1rem;
    left: 15px;
    top: 15px;
}

.main_container img {
    position: absolute;

}

.main_button__buttonracionp {
    font-family: 'Architects Daughter', cursive;
    color: #FFFFFF;
    font-size: 0.8rem;
    font-weight: 500;
    line-height: 22.5px;
    text-align: center;
    padding: 10px;
    background-color: #28d9e6;
    border: none;
    border-radius: 3px;
    position: absolute;
    left: 15px;
    top: 320px;
    width: 170px;
    height: 40px;
    cursor: pointer;
}


.main_button__buttonraciong {
    font-family: 'Architects Daughter', cursive;
    color: #FFFFFF;
    font-size: 0.8rem;
    font-weight: 500;
    line-height: 22.5px;
    text-align: center;
    padding: 10px;
    background-color: #28d9e6;
    border: none;
    border-radius: 3px;
    position: absolute;
    left: 200px;
    top: 320px;
    width: 170px;
    height: 40px;
    cursor: pointer;
}



.main_button__buttonantip {
    font-family: 'Architects Daughter', cursive;
    color: #FFFFFF;
    font-size: 0.8rem;
    font-weight: 500;
    line-height: 22.5px;
    text-align: center;
    padding: 10px;
    background-color: #28d9e6;
    border: none;
    border-radius: 3px;
    position: absolute;
    left: 15px;
    top: 380px;
    width: 170px;
    height: 40px;
    cursor: pointer;
}


.main_button__buttonaccesorios {
    font-family: 'Architects Daughter', cursive;
    color: #FFFFFF;
    font-size: 0.8rem;
    line-height: 22.5px;
    text-align: center;
    padding: 10px;
    background-color: #28d9e6;
    border: none;
    border-radius: 3px;
    position: absolute;
    left: 200px;
    top: 380px;
    width: 170px;
    height: 40px;
    cursor: pointer;
}


/*aside mobile*/
.aside1_container img {
    position: relative;     
    padding: 5px;

}

.aside1_container p {
    font-family: 'Architects Daughter', cursive;
    color: black;
    font-size: 0.8rem;
    text-align: center;
    padding: 20px;
}


.aside2_container img {
    position: relative;
    padding: 5px;
}

.footer  img {
    margin-left: 70px;
    margin-top: 30px;
    width: 30px;
    height: 30px;


}

@media(min-width: 768px){
    .container {
        width: 100%;
        height: 98vh;
        padding: 5px;
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 15% 50% 20% 15%;
        grid-template-areas:
          "header header"
          "main main"
          "aside1 aside2"
          "footer footer";
    
      }
       

      .main_container {
        display: flex;
       }
      
       .main_container img {
        width: 65%;
        padding: 50px;
     
       }
    
    
        .main_container__p {
            font-size: 1.4rem;
            padding: 60px;
        }
      
        .main_button__buttonracionp {
            font-size: 0.8rem;
           left: 580px; left: 580px;
            top: 50px;
            width: 170px;
            height: 40px;
            cursor: pointer;
          }
    
          .main_button__buttonraciong {
            font-size: 0.8rem;
            left: 580px;
            top: 150px;
            width: 170px;
            height: 40px;
            cursor: pointer;
          }
     
          .main_button__buttonantip {
            font-size: 0.8rem;
            left: 580px;
            top: 250px;
            width: 170px;
            height: 40px;
            cursor: pointer;
          }
    
          .main_button__buttonaccesorios {
            font-size: 0.8rem;
            left: 580px;
            top: 350px;
            width: 170px;
            height: 40px;
            cursor: pointer;
          }
    
    
    
         .aside1_container img{        
           width: 40%;      
           margin-left: 120px;
          
          
         }
      
        .aside1_container p {
            font-family: 'Architects Daughter', cursive;
            color: black;
            font-size: 1rem;
            text-align: center;
            padding: 5px;
        }
      
      
         .aside2_container img{
            width: 40%;
            margin-left: 120px;
        }
    


        .footer img {
            margin-top: 40px;
              text-align: center;
              margin-left: 150px;
              margin-bottom: 0;
              width: 50px;
              height: 50px;
        
        
          }
}



@media(min-width: 1200px) {

    .container {
        width: 100%;
        height: 98vh;
        padding: 5px;
        display: grid;
        grid-template-columns: 70% 30%;
        grid-template-rows: 15% 35% 35% 15%;
        grid-template-areas:
          "header header"
          "main aside1"
          "main aside2"
          "footer footer";
    
      }

      .main_container img {
        display: flex;
      
      width: 100%;
      }
      
      .main_container__p {
        font-size: 2.5rem;
        padding: 20px;
      }
      
      .main_button__buttonracionp {
        font-size: 0.8rem;
        left: 100px;
        top: 560px;
        width: 300px;
        height: 50px;
        cursor: pointer;
      }
      
      .main_button__buttonraciong {
      
        font-size: 0.8rem;
        left: 450px;
        top: 560px;
        width: 300px;
        height: 50px;
        cursor: pointer;
      }
      
      .main_button__buttonantip {
        font-size: 0.8rem;
        left: 100px;
        top: 630px;
        width: 300px;
        height: 50px;
        cursor: pointer;
      }
      
      .main_button__buttonaccesorios {
        font-size: 0.8rem;
        left: 450px;
        top: 630px;
        width: 300px;
        height: 50px;
        cursor: pointer;
      }
      
      
      
      .aside1_container img {
        align-items: center;
      
        margin-top: 50px;
      
      }
      
      .aside1_container p {
        font-family: 'Architects Daughter', cursive;
        color: black;
        font-size: 1.5rem;
        text-align: center;
        padding: 10px;
      }
      
      
      .aside2_container img {
        position: relative;
        align-items: center;
        margin-top: 50px;
      
      
      
      }
      
      .footer img {
        text-align: center;
        margin-left: 270px;
        margin-top: 30px;
        width: 80px;
        height: 80px;
      
      
      }
      


}
