.mainservicios h3 { 
    padding: 5px;
    font-size: 1.2rem;
    font-family: 'Architects Daughter', cursive;
 }

 .mainservicios p { 
    font-size: 1rem;
    font-family: 'Architects Daughter', cursive;
 }


 .mainservicios img{
      padding: 10px;
 }


 .footerservicios{
  background: linear-gradient( to top, $c-primario, skyblue, white);
    width: 100%;
    margin-bottom: 0;
    margin-top: 20px;
    background-color: #28d9e6;
  }
  .footerservicios img{ 
        text-align: center;
        margin-left: 70px;
        margin-top: 10px;
        width: 40px;
        height: 40px;
  

  }

 
  
@media(min-width: 1200px) {

  @keyframes animacionh3 {
    0% {
        color: $c-primario;
    }
    50% {
        color: $c-primario;
        transform: translate(100px);
    }
    100%{
        color: $c-primario;
        transform: translate(200px);
    }
        }

    h3{
            animation-name: animacionh3;
            animation-duration: 10s;
            animation-iteration-count: infinite;
         
            }

    .mainservicios h3 {
       padding: 30px;     
        font-size: 2.5rem;
        font-family: 'Architects Daughter', cursive;
      }
      
      .mainservicios p {
        color: rgb(13, 13, 121);
        margin: 20px;
        font-size: 1.5rem;
        font-family: $ff-bruno;
      }
      
      
      .mainservicios img {
        margin-left: 350px;
        width: 400px;
        height: auto;
      }


}

