.mainservicios h3 { 
    padding: 5px;
    font-size: 1.2rem;
    font-family: 'Architects Daughter', cursive;
 }

 .mainservicios p {
    text-align: center;
    font-size: 1rem;
    font-family: 'Architects Daughter', cursive;
 }


 .mainservicios img{
      padding: 10px;
 }


 .footerservicios{
    width: 100%;
    margin-bottom: 0;
    margin-top: 20px;
    background-color: #28d9e6;
  }
  .footerservicios img{ 
        text-align: center;
        margin-left: 70px;
        margin-top: 10px;
        width: 40px;
        height: 40px;
  

  }

 
  
@media(min-width: 1200px) {

    .mainservicios h3 {
        padding: 50px;
        font-size: 2rem;
        font-family: 'Architects Daughter', cursive;
      }
      
      .mainservicios p {
        margin: 50px;
        text-align: center;
        font-size: 1.8rem;
        font-family: 'Architects Daughter', cursive;
      }
      
      
      .mainservicios img {
        padding: 100px;
      }


}

