
.container_servicios {
  padding: 5px;
}


.mainservicios h3 {
  color: $c-primario;
 margin: 30px;
  font-size: 1.2rem;
  font-family: $ff-archi;
}

.mainservicios p {
  color:  rgb(13, 13, 121);
  margin: 30px;
  font-size: 1rem;
  font-family: $ff-bruno;
}

.mainservicios img {
  object-fit: contain;
  padding: 10px;
  width: 280px;
  margin-left: 50px;
  box-shadow: 10px 10px 15px rgb(240, 224, 194);
  height: auto;
}


@media(min-width: 768px) {

.mainservicios img {
  width: 400px;
  margin-left: 250px;
  box-shadow: 10px 10px 15px rgb(240, 224, 194);
  height: auto;
}

.mainservicios p {
  color: rgb(13, 13, 121);
  margin: 50px;
  font-size: 1.3rem;
  font-family: $ff-bruno;
}



}



@media(min-width: 1200px) {

  @keyframes animacionh3 {
    0% {
      color: $c-primario;
    }

     100% {
      color: $c-primario;
      transform: translate(200px);
    }
  }

  h3 {
    animation-name: animacionh3;
    animation-duration: 20s;
    animation-iteration-count: infinite;

  }

  .mainservicios h3 {
    padding: 30px;
    font-size: 2.5rem;
    font-family: $ff-archi;
  }

  .mainservicios p {
    color: rgb(13, 13, 121);
    margin: 50px;
    font-size: 1.5rem;
    font-family: $ff-bruno;
  }


  .mainservicios img {    
    margin-left: 450px;
    width: 500px;
    height: auto;
    box-shadow: 10px 10px 15px rgb(240, 224, 194);
    }


}

